{% extends "base.html" %}
{% block content %}
<div class="mt-4"></div>

   <div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">23</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                Produits
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">25</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                Depense
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">45</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                Revenus
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">2500</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                Chiffre d'affaires
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Dernieres Depenses
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Type</th>
                    </tr>
                </thead>

                <tbody>
                    {% for spent in spent %}
                      
                   
                    <tr>
                        <td>{{ spent.id }}</td>
                        <td>{{ spent.product }}</td>
                        <td>{{ spent.quantity }}</td>
                        <td>{{ spent.price }}</td>
                        <td>{{ spent.transaction_type }}</td>
                   </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Dernieres Revenus
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Type</th>
                </tr>
            </thead>

            <tbody>
                {% for spent in income %}
                  
               
                <tr>
                    <td>{{ spent.id }}</td>
                    <td>{{ spent.product }}</td>
                    <td>{{ spent.quantity }}</td>
                    <td>{{ spent.price }}</td>
                    <td>{{ spent.transaction_type }}</td>
               </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %} 