{% extends 'base.html' %}

{% block content %}
<p cla></p>
<div class="mt-4 " >
  <div class="row">
    
      <div class="col-md-3 mx-auto">
      <div class="card-group mb-5 ">
      <div class="card ">
        <h2 class="text-center">Supression du produit <span class=" text-danger">{{ product.name }} </span></br> Etes vous sur de vouloir supprimer</h2>
        
        <div class="card-body">
          <form method="post">
              {% csrf_token %}
          <a href="{% url 'product_list' %}" class="btn btn-primary">Annuler</a>
          <button type="submit" class=" btn btn-danger">Oui</button>
          <img src="{{ product.image.url }}" class="card-img-top mt-3 " alt="{{ product.name }}">
        </form>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

{% endblock %} 